<footer class="main-footer">
    <strong><a >Housing Estate Management</a>.</strong>
    Bütün Hakları Saklıdır
    <div class="float-right d-none d-sm-inline-block">
        
    </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->