<section class="content-wrapper mt-5">
    <div class="error-page">
        <h2 class="headline text-warning"> 404</h2>

        <div class="error-content">
            <h3><i class="fas fa-exclamation-triangle text-warning"></i> Oops!Aradığınız sayfayı bulamadık.</h3>

            <p>
                Aradığınız sayfayı bulamadık.
            </p>
        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>